torch>=2.0.0
transformers>=4.30.0
accelerate>=0.23.0
tiktoken
einops
openai
dotenv
bs4
numpy
scipy
sentence-transformers
pypdf
langchain 
langchain-community 
langchain-huggingface 
chromadb 
pillow 
pytesseract
pdf2image 
faiss-cpu 
nltk
langchain-text-splitters
hf_xet
rank_bm25
pandas
docx2txt
PyPDF2
openpyxl
blobfile
ipywidgets
fsspec
huggingface_hub
datasets
jupyter
pandas 
numpy
duckdb
ipython